@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: inherit;
}

:root {
  --fuente-epilogue: "Epilogue", sans-serif;
  --fuente-josefin: "Josefin Sans", sans-serif;
  --color-fondo: #bced09;
  --color-text: #3822e4;
  --color-titulos: #fff;
}

body {
  transition: 0.3s;
  background-color: var(--color-fondo);
}

body.dark-theme {
  transition: 0.3s;
  --color-fondo: #1e1e24;
  --color-text: #bced09;
  --color-titulos: #1e1e24;
}

.switch {
  cursor: pointer;
}
img.claro {
  display: block;
}
img.oscuro {
  display: none;
}

body.dark-theme {
  img.claro {
    display: none;
  }
  img.oscuro {
    display: block;
  }
  img.oscuro.switchbtn {
    display: block;
    transform: rotate(180deg);
  }
}

.container {
  width: 85%;
  max-width: 1474px; /*1408*/
  margin: 0 auto;
}

nav {
  padding-top: 51px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
}

nav .top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    text-decoration: none;
  }
  .navLeft {
    font-family: var(--fuente-epilogue);
    font-size: 22px;
    font-weight: 900;
    line-height: 32px;
    color: var(--color-text);
  }
  a.navRight {
    font-family: var(--fuente-epilogue);
    font-weight: 500;
    font-size: 26px;
    border: 2px solid var(--color-text);
    color: var(--color-text);
    padding: 12px 25px;
    border-radius: 20px;
    transition: 0.2s;
    background-color: var(--color-fondo);
    &:hover {
      background-color: var(--color-text);
      color: var(--color-fondo);
    }
  }
}

a.navMid {
  position: absolute;
  top: 25px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  img {
    width: 106px;
  }
}

a.navLeftt {
  position: fixed;
  top: 50%;
  left: -13px;
  transform: rotate(-90deg);
  text-decoration: none;
  font-family: var(--fuente-epilogue);
  font-size: 22px;
  font-weight: 500;
  color: var(--color-text);
}
a.navRightt {
  position: fixed;
  top: 50%;
  right: 13px;
  transform: rotate(90deg);
  text-decoration: none;
  font-family: var(--fuente-epilogue);
  font-size: 22px;
  font-weight: 500;
  color: var(--color-text);
}

a.navMidRight {
  position: fixed;
  top: 80%;
  left: 84.5%;
  z-index: 1;
}

.title {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    background-color: var(--color-text);
    color: var(--color-titulos);
    padding: 13px 20px 3px 20px;
    margin: 11px 0;
    font-size: 56px;
    font-family: var(--fuente-epilogue);
    font-weight: 700;
    text-align: center;
    &::before {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      top: 11px;
      left: -46px;
      border-bottom: 73.5px solid var(--color-text);
      border-left: 46px solid transparent;
    }
    &::after {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      top: 11px;
      right: -46px;
      border-top: 73.5px solid var(--color-text);
      border-right: 46px solid transparent;
      // border-bottom: 73.5px solid #3822e4;
      // border-left: 46px solid transparent;
    }
  }
  h2 {
    background-color: var(--color-text);
    color: var(--color-titulos);
    padding: 13px 28px 3px 28px;
    margin: 11px 0;
    font-size: 56px;
    font-family: var(--fuente-josefin);
    font-weight: 700;
    text-align: center;
    position: relative;
    &::before {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      top: 0px;
      left: -20px;
      border-top: 72px solid var(--color-text);
      border-left: 20px solid transparent;
    }
    &::after {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      top: 0px;
      right: -20px;
      border-bottom: 72px solid var(--color-text);
      border-right: 20px solid transparent;
      // border-bottom: 73.5px solid #3822e4;
      // border-left: 46px solid transparent;
    }
  }
}

.contenido {
  width: 100%;
  .tarjetas {
    position: relative;
    // width: 100%;
    // height: 2341px;
    a {
      text-decoration: none;
    }
    h3 {
      font-family: var(--fuente-josefin);
      font-size: 26px;
      font-weight: 900;
      color: var(--color-titulos);
    }
    .tarjeta1 {
      width: 534px;
      position: absolute;
      right: 0;
      top: 300px;
      z-index: -1;
      img {
        width: 100%;
        // z-index: -2;
      }
      .conteBurbuja {
        position: absolute;
        top: 0;
        transform: scale(0.8);
        top: 31px;
        right: -30px;
      }
      .titleTarjeta {
        width: 214px;
        text-align: center;
        position: absolute;
        z-index: 2;
        top: 82px;
        right: 52px;
        h3 {
          line-height: 32px;
        }
      }
      img.burbuja {
        width: 336px;
      }
      &:hover {
        z-index: 3;
      }
    }
    .tarjeta2 {
      width: 352px;
      position: absolute;
      top: 528px;
      z-index: -1;
      img {
        width: 351px;
      }
      .conteBurbuja {
        position: absolute;
        top: 0;
        transform: scale(0.8);
        top: 421px;
        right: -167px;
      }
      .titleTarjeta {
        width: 214px;
        text-align: center;
        position: absolute;
        z-index: 2;
        top: 82px;
        right: 52px;
        h3 {
          line-height: 32px;
        }
      }
      img.burbuja {
        width: 336px;
      }
      &:hover {
        z-index: 3;
      }
    }
    .tarjeta3 {
      width: 439px;
      position: absolute;
      right: 0;
      top: 1229px;
      z-index: -1;
      img {
        width: 100%;
      }
      .conteBurbuja {
        position: absolute;
        top: 0;
        transform: scale(0.8);
        top: -37px;
        right: 239px;
        img {
          transform: rotateY(180deg);
        }
      }
      .titleTarjeta {
        width: 214px;
        text-align: center;
        position: absolute;
        z-index: 2;
        top: 92px;
        right: 73px;
        h3 {
          line-height: 32px;
        }
      }
      img.burbuja {
        width: 336px;
      }
      &:hover {
        z-index: 3;
      }
    }
  }
  .tarjeta4 {
    width: 560px;
    position: absolute;
    top: 1836px;
    z-index: -1;
    img {
      width: 100%;
    }
    .conteBurbuja {
      position: absolute;
      top: 0;
      transform: scale(0.8);
      top: -170px;
      right: 114px;
    }
    .titleTarjeta {
      width: 214px;
      text-align: center;
      position: absolute;
      z-index: 2;
      top: 104px;
      right: 52px;
      h3 {
        line-height: 32px;
      }
    }
    img.burbuja {
      width: 336px;
    }
    &:hover {
      z-index: 3;
    }
  }
}

footer {
  position: relative;
  top: 2471px;
  width: 100%;
  z-index: 3;
  background-color: var(--color-fondo);
  transition: 0.3s;
  .creditos {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: var(--color-fondo);
    transition: 0.3s;
    p {
      font-family: var(--fuente-epilogue);
      font-size: 26px;
      font-weight: 400;
      color: var(--color-text);
      line-height: 52.5px;
    }
    span {
      padding-left: 12px;
      color: red;
      font-size: 32px;
    }
  }
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 100px;
  .btns {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  img {
    position: absolute;
    left: 50%;
    top: -100px;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
  }
  a {
    color: var(--color-text);
    text-decoration: none;
    padding: 10px 0;
    font-family: var(--fuente-josefin);
    font-weight: 700;
    font-size: 30px;
  }
  p {
    width: 314px;
    font-family: var(--fuente-epilogue);
    font-size: 22px;
    color: var(--color-text);
    text-align: end;
    background-color: var(--color-fondo);
    line-height: 30px;
    transition: 0.3s;
  }
}
